@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
@model BeCore.Core.Model.Sys_Buttons
<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">按钮名称</label>
        <div class="layui-input-inline">
            <input type="text" name="ButtonText" value="@Model.ButtonText" lay-verify="required" placeholder="按钮名称" autocomplete="off" class="layui-input">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="Deleted" value="@Model.Deleted" />
            <input type="hidden" name="CreateTime" value="@Model.CreateTime" />


        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮code</label>
        <div class="layui-input-inline">
            <input type="text" name="ButtonTag" value="@Model.ButtonTag" placeholder="按钮code" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮样式</label>
        <div class="layui-input-inline">
            <input type="text" name="iconCls" value="@Model.iconCls" placeholder="按钮样式" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮Icon url</label>
        <div class="layui-input-inline">
            <input type="text" name="IconUrl" value="@Model.IconUrl" placeholder="按钮Icon url" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="Sortnum" value="@Model.Sortnum" placeholder="排序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="Remark" value="@Model.Remark" placeholder="请输入备注" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>
@section Scripts{
<script>
    layui.config({
        base: '/src/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function () {
        var $ = layui.$
            , form = layui.form
            , upload = layui.upload;
    });
</script>
}