@model BeCore.Core.Model.BussCodeInfo
@{
    ViewData["Title"] = "Add";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/src/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/src/layuiadmin/style/admin.css" media="all">
</head>
<body>
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">语言编码</label>
            <div class="layui-input-inline">
                <input type="text" name="LanguageCode" lay-verify="required" value="@Model.LanguageCode" placeholder="请输入编码" autocomplete="off" class="layui-input">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="Deleted" value="@Model.Deleted" />
                <input type="hidden" name="CreateTime" value="@Model.CreateTime" />
                <input type="hidden" name="ParentId" value="@Model.ParentId" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">语言描述</label>
            <div class="layui-input-inline">
                <input type="text" name="LanguageRemark" value="@Model.LanguageRemark" lay-verify="required" placeholder="请输入编码描述" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">提示信息</label>
            <div class="layui-input-inline">
                <textarea name="MsgInfo" placeholder="请输入" class="layui-textarea">
                @Model.MsgInfo
                </textarea>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
        </div>
    </div>


    <script src="/src/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/src/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'upload'], function () {
            var $ = layui.$
                , form = layui.form
                , upload = layui.upload;
        });
    </script>
</body>
</html>
